.container .page_name h2{
    font-size: 24px;
    color: #444;
    font-weight: 700;
}

table, th, td {
    border: 1px solid;
}

.container table{
    text-align: center;
}

.container .cart_table h3{
    color: #dc143c;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.container .cart_table .STT{
    width: 60px;
}

.container .cart_table .product_name{
    width: 610px;
    text-align: left;
    padding-left: 10px;
}

.container .cart_table .product_image{
    width: 150px;
    height: auto;
}

.container .cart_table .product_price{
    width: 90px;
}

.container .cart_table .quantity{
    width: 80px;
}

.container .cart_table .total_money{
    width: 140px;
}

.container .cart_table .product_delete{
    width: 70px;
}

.container .cart_table .product_image img{
    max-width: 100%;
    max-height: 100%;
}

.container .table_footer th,td{
    border: none!important;
}

.container #form-button{
    float:right;
    padding-top: 10px;
}